<div class="container">
  <h2>Todo List</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.name }}</td>
      <td>{{ todo.description }}</td>
      <td>
        <input type="checkbox" [checked]="todo.completed" disabled />
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo.id)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
